<div class="container"> 
    <div>
        <app-logo-animation></app-logo-animation>
    </div>

    <div @delayed-fade>
        <app-text-box name="Username"></app-text-box>
    </div>

    <div @delayed-fade>
        <app-text-box name="Password" type="password"></app-text-box>
    </div>

    <div class="row" @delayed-fade>
        <div>
            <app-button name="Login"></app-button>
        </div>
        <div>
            <app-button name="Sign Up"></app-button>
        </div>
    </div>
</div>