/* You can add global styles to this file, and also import other style files */

html {
    background-color: orange;
}

.center-box {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    height: 1vh;
}